@charset "UTF-8";


/*RESET AND VARIABLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose_white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);
}

/*GENERAL RULES AND CLASSES*/
body {
    font-family: "Outfit", sans-serif;

    background-color: var(--eggshell);
}

h1,
h2 {
    font-family: "Young Serif", serif;
}

h1 {
    font-size: 35px;
    color: var(--dark_charcoal);
}

h2 {
    font-size: 28px;
    color: var(--nutmeg);
}

h3 {
    font-size: 20px;
    color: var(--dark_raspberry);
}

p {
    font-size: 16px;
    color: var(--wenge_brown);
}

a {
    text-decoration: none;
}

ul,
ol {
    margin-left: 6px;
    padding: 20px 15px;
    color: var(--wenge_brown);
}

li {
    padding: 5px 0 5px 15px;

}

li::marker {
    color: var(--nutmeg);
    font-weight: 600;
}

.flex {
    display: flex;
    flex-direction: column;
}

/*MOBILE VIEW (mobile first)*/
.white_container {
    /* justify-content: space-evenly; */
    width: 100%;
    background-color: var(--white);
}

section {
    width: 83%;
    margin: 20px auto 0;
}

/*figure and header*/
figure {
    background-image: url(../assets/images/image-omelette.jpeg);
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

header {
    width: 83%;
    margin: 0 auto;
}

header h1,
header p {
    padding: 10px 0;
}

/*preparation section*/
.preparation_time {
    padding: 20px 30PX;
    width: 85%;
    border-radius: 10px;
    background-color: var(--rose_white);
}

/*ingredients and instruction section*/
section[class=ingredients] ul,
section[class=instructions] ol {
    padding-bottom: 10px;
}

.instructions h2 {
    padding-top: 24px;
}

/*nutrition section*/
.instructions,
.nutrition {
    border-top: 1px solid var(--light_grey);
}

.nutrition {
    padding-bottom: 30px;
}

.nutrition h2 {
    padding: 24px 0;
}

table {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    table-layout: fixed;
    color: var(--wenge_brown);
}

td {
    width: 50%;
    padding: 12px 0;
    border-bottom: 1px solid var(--light_grey);
}

tr:last-of-type td {
    border-bottom: none;
}

tr td:nth-of-type(1) {
    padding-left: 30px;
}

tr td:nth-of-type(2) {
    color: var(--nutmeg);
    font-weight: 800;
}

/*footer*/
.attribution {
    padding: 30px 0 20px;
    text-align: center;
}

.attribution p {
    font-size: 10px;
}

.attribution a {
    color: var(--nutmeg);
    font-weight: 900;
}


/*SCREENS WIDTH 850PX AND ABOVE*/
@media screen and (min-width:850px) {

    html {
        /*to position the footer properly*/
        position: relative;
    }

    .layout_container {
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }

    .white_container {
        margin: 50px 0 80px 0;
        border-radius: 20px;
        width: 750px;
        padding: 45px 20px 20PX 20PX;
    }

    figure {
        width: 92%;
        height: 300px;
        margin: 0 auto 30px;
        border-radius: 10px;
    }

    header,
    section,
    .preparation_time {
        width: 92%;
    }

    .nutrition {
        padding-bottom: 0;
    }

    .attribution {
        position: absolute;
        margin-top: 0;
        padding: 20px;
        right: 50%;
        bottom: 0;
        transform: translate(50%, 0);
        text-align: center;
    }
}