@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose_white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);
}

/* font-family: "Young Serif", serif;
font-family: "Outfit", sans-serif; */

/* - Mobile: 375px
- Desktop: 1440px */

/*GENERAL RULES AND CLASSES*/
body {
    font-family: "Outfit", sans-serif;
}

h1,
h2 {
    font-family: "Young Serif", serif;
}

h1 {
    font-size: 24px;
    color: var(--dark_charcoal);
}

h2 {
    font-size: 20px;
    color: var(--nutmeg);
}

h3 {
    font-size: 18px;
    color: var(--dark_raspberry);
}

p {
    font-size: 14px;
    color: var(--wenge_brown);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*SPECIFIC STYLING AND POSITIONING*/
.white_container {
    /* justify-content: space-evenly; */
    width: 100%;
    background-color: var(--white);
}

/*Had to differentiate cause I needed to keep the header image at 100%width with no lateral padding or margin*/
header h1, header p {
    padding: 10px 20px 10px 20px;
}

section {
    width: 90%;
    /* padding: 0 20px 10px 20px; */
    margin: 20px auto 0;
}


figure {
    background-image: url(../assets/images/image-omelette.jpeg);
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preparation_time {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    background-color: var(--rose_white);
}

ul, ol {
    list-style-position: inside;
    padding: 20px 15px;
}

li {
    padding: 5px 0;
}

li::marker {
    color: var(--nutmeg);
    font-weight: 600;
}



/*ATTRIBUTION*/
.attribution {
    position: absolute;
    padding: 20px 0;
    right: 50%;
    bottom: 2%;
    transform: translate(50%, 0);
    text-align: center;
}

.attribution p {
    font-size: 10px;
}

.attribution a {
    color: var(--dark_raspberry);
    font-weight: 900;
}


/*SCREENS WIDTH 1440PX AND ABOVE*/
@media screen and (min-width:500px) {

    .layout_container {
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--eggshell);
        /*To position the '.attribution' element properly:*/
        position: relative;
    }

    .white_container {
        /* justify-content: space-evenly; */
        border-radius: 20px;
        width: 400px;
        /* height: 600px; */
        padding: 30px 40px;
    }

    .attribution {
        padding: 0;
    }

}